.form-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}

.form {
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
    grid-row-start: 1;
}

.form
{
    padding: 30px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 20px;
}

.name-contact,
.mail-contact
{
    border-radius: 20px;
    height: 30px;
    width: 300px;
    margin-top: 10px;
    padding: 10px;
    font-size: medium;
}

.message-contact
{
    border-radius: 20px;
    width: 300px;
    margin-top: 10px;
    padding: 10px;
    line-height: 1.4rem;     /* height of each line */
    height: calc(1.4rem * 7); /* 3 lines visible */
    overflow: hidden;         /* removes scrollbar */
    resize: none;
    font-size: medium;
}

.button-div button {
    margin-top: 20px;
    margin-right: 40px; /* space between buttons */
    padding: 5px 15px;
    transform: scale(1.5); /* Scales button by 150% */
    transform-origin: center; /* Keeps it centered */
    font-size: medium;
}
.button-div button:last-child {
    margin-right: 0; /* remove space on the last one */
}